---
Language: Cpp
BasedOnStyle: Google

ColumnLimit: 120
NamespaceIndentation: Inner

# Scaled by a factor of 2 such that the base indent is 4
AccessModifierOffset: -2
ConstructorInitializerIndentWidth: 8
ContinuationIndentWidth: 8
IndentWidth: 4
ObjCBlockIndentWidth: 4
...
